
{% extends 'dashboard/index.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
           <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            {% if category == 'Bible Reading' %}
                                <h3 class="card-title">{{ detail.bible_passage }}</h3>
                            {% elif category == 'Prayer Marathon' %}
                                <h3 class="card-title">Prayer</h3>
                            {% elif category == 'Church Work' %}
                                <h3 class="card-title">Church Work</h3>
                            {% elif category == 'Evangelism' %}
                                <h3 class="card-title">Field Mission</h3>
                            {% elif category == 'Prophetic Vision' %}
                                <h3 class="card-title">Prophetic Vision</h3>
                           {% endif %}
                       </div>
                    </div>

                    <div class="card-body">


{#                  BIBLE READING DISPLAY                            #}


                        {% if category == 'Bible Reading' %}
                            <h5 style="margin-bottom: 10px;">Comment</h5>
                            <p style="text-align: justify" id="display_comment">{{ detail.comment }}</p>

                            <h5 style="margin-bottom: 10px;">Status</h5>
                            {% if detail.status == 'completed' %}
                                <td><p class="badge rounded-pill bg-success" style="padding:8px;" id="display_status">Completed</p></td>
                            {% elif detail.status == 'in_progress' %}
                                <td><p class="badge rounded-pill bg-warning" style="padding:8px;" id="display_status">In Progress</p></td>
                            {% elif detail.status == 'not_started' %}
                                <td><p class="badge rounded-pill bg-danger" style="padding:8px;" id="display_status">Not Started</p></td>
                            {% endif %}

                            <h5 style="margin-bottom: 10px;">Date</h5>
                            <p id="display_date">{{ detail.date|my_date_filter }}</p>

                        {% elif category == 'Prayer Marathon' %}
{#                  PRAYER MARATHON DISPLAY                            #}

                            <h5 style="margin-bottom: 10px;">Comment</h5>
                            <p style="text-align: justify" id="display_comment">{{ detail.comment }}</p>

                            <h5 style="margin-bottom: 10px;">Date</h5>
                            <p id="display_date">{{ detail.date|my_date_filter }}</p>

                        {% elif category == 'Church Work' %}
                            <h5 style="margin-bottom: 10px;">Work Category</h5>
                            <p style="text-align: justify" id="display_category">{{ detail.work_category|format_text }}</p>

                            <h5 style="margin-bottom: 10px;">Details</h5>
                            <p style="text-align: justify" id="display_detail">{{ detail.details }}</p>

                            <h5 style="margin-bottom: 10px;">Time Stamp</h5>
                            <p style="text-align: justify" id="display_time">
                                Start Time: {{ detail.start_time|my_time_filter }}<br /> End Time: {{ detail.end_time|my_time_filter }}
                            </p>

                            <h5 style="margin-bottom: 10px;">Hours Spent</h5>
                            <p style="text-align: justify" id="display_hours_spent">{{ detail.hours_spent }}</p>

                            <h5 style="margin-bottom: 10px;">Date</h5>
                            <p id="display_date">{{ detail.date|my_date_filter }}</p>

                        {% elif category == 'Evangelism' %}

                            <h5 style="margin-bottom: 10px;">Field of Visit</h5>
                            <p style="text-align: justify" id="display_field_of_visit">{{ detail.field_of_visit }}</p>

                            <h5 style="margin-bottom: 10px;">Hours Spent</h5>
                            <p style="text-align: justify" id="display_hours_spent">{{ detail.hours_spent_per_week }}</p>

                            <h5 style="margin-bottom: 10px;">No Led to Christ</h5>
                            <p style="text-align: justify" id="display_led_to_christ">{{ detail.no_led_to_christ }}</p>

                            <h5 style="margin-bottom: 10px;">No of Follow Up</h5>
                            <p style="text-align: justify" id="display_follow_up">{{ detail.follow_up }}</p>

                            <h5 style="margin-bottom: 10px;">No of Invitees</h5>
                            <p style="text-align: justify" id="display_invites">{{ detail.invitees }}</p>

                            <h5 style="margin-bottom: 10px;">No of Holy Spirit Baptism</h5>
                            <p style="text-align: justify" id="display_holy_spirit_baptism">{{ detail.holy_spirit_baptism }}</p>

                            <h5 style="margin-bottom: 10px;">No of People Prayed for</h5>
                            <p style="text-align: justify" id="display_people_prayed">{{ detail.no_of_people_prayed }}</p>

                            <h5 style="margin-bottom: 10px;">No of Prints Shared</h5>
                            <p style="text-align: justify" id="display_prints_shared">{{ detail.prints_shared }}</p>

                            <h5 style="margin-bottom: 10px;">Messages Shared</h5>
                            <p style="text-align: justify" id="display_messages">{{ detail.messages }}</p>

                            <h5 style="margin-bottom: 10px;">No of Snippets</h5>
                            <p style="text-align: justify" id="display_snippet">{{ detail.snippets }}</p>

                            <h5 style="margin-bottom: 10px;">Beginning Date of the Week</h5>
                            <p style="text-align: justify" id="display_first_date">{{ detail.first_date_of_week }}</p>

                            <h5 style="margin-bottom: 10px;">Last Date of the Week</h5>
                            <p style="text-align: justify" id="display_last_date">{{ detail.last_date_of_week }}</p>

                        {% elif category == 'Prophetic Vision' %}
                            <h5 style="margin-bottom: 10px;">Description</h5>
                            <p style="text-align: justify" id="display_description">{{ detail.description }}</p>

                            <h5 style="margin-bottom: 10px;">Date</h5>
                            <p id="display_date">{{ detail.date|my_date_filter }}</p>

                            <h5 style="margin-bottom: 10px;">Body</h5>
                            <p style="text-align: justify" id="display_body">{{ detail.body }}</p>

                        {% endif %}
                    <div class="bd-example">
                        <div class="d-flex justify-content-between flex-wrap">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
                                Edit
                            </button>
                        </div>
                        <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Edit</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            {% if category == 'Bible Reading' %}
                                                <form class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-12">
                                                       <label for="comment" class="form-label">Comment</label>
                                                       <textarea class="form-control" id="comment" style="height: 300px" name="comment" required>{{ detail.comment }}</textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="date" class="form-label">Date</label>
                                                        <input type="text" class="form-control vanila-datepicker" autocomplete="off" name="date" value="{{ detail.date|date:"%d %M %Y" }}" placeholder="Date" id="date">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="form-check-label" for="status">
                                                            Status
                                                        </label>
                                                        <select class="form-select" name="status" id="status">
                                                            {% if detail.status == 'completed' %}
                                                                <option value="completed" selected>Completed</option>
                                                                <option value="in_progress">In Progress</option>
                                                                <option value="not_started">Not Started</option>
                                                            {% elif detail.status == 'in_progress' %}
                                                                <option value="completed">Completed</option>
                                                                <option value="in_progress" selected>In Progress</option>
                                                                <option value="not_started">Not Started</option>
                                                            {% elif detail.status == 'not_started' %}
                                                                <option value="completed">Completed</option>
                                                                <option value="in_progress">In Progress</option>
                                                                <option value="not_started" selected>Not Started</option>
                                                            {% endif %}
{#                                                            <option value="completed" {% if detail.status == 'completed' %}selected{% endif %}>Completed</option>#}
{#                                                            <option value="in_progress" {% if detail.status == 'in_progress' %}selected{% endif %}>In Progress</option>#}
{#                                                            <option value="not_started" {% if detail.status == 'not_started' %}selected{% endif %}>Not Started</option>#}
                                                       </select>
                                                    </div>
                                                </form>
                                            {% elif category == 'Prayer Marathon' %}
                                                <form class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-12">
                                                       <label for="comment" class="form-label">Comment</label>
                                                       <textarea class="form-control" id="comment" style="height: 200px" name="comment" required>{{ detail.comment }}</textarea>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="date" class="form-label">Date</label>
                                                        <input type="text" class="form-control vanila-datepicker" autocomplete="off" name="date" value="{{ detail.date|date:"%d %M %Y" }}" placeholder="Date" id="date">
                                                    </div>
                                                </form>
                                            {% elif category == 'Church Work' %}
                                                <form class="row g-3 needs-validation" novalidate>
                                                    <div class="col-12">
                                                        <label class="form-check-label" for="work_category">
                                                            Work Category
                                                        </label>
                                                        <select class="form-select" id="work_category">
                                                            <option value="" disabled>Choose category</option>
                                                            <option value="transcription" {% if detail.work_category == 'transcription' %}selected{% endif %}>Transcription</option>
                                                            <option value="video_editing" {% if detail.work_category == 'video_editing' %}selected{% endif %}>Video Editing</option>
                                                            <option value="building" {% if detail.work_category == 'building' %}selected{% endif %}>Building</option>
                                                            <option value="extraction" {% if detail.work_category == 'extraction' %}selected{% endif %}>Extraction</option>
                                                            <option value="audio_editing" {% if detail.work_category == 'audio_editing' %}selected{% endif %}>Audio Editing</option>
                                                            <option value="audio_video_review" {% if detail.work_category == 'audio_video_review' %}selected{% endif %}>Audio/Video Review</option>
                                                            <option value="audio_video_snippets" {% if detail.work_category == 'audio_video_snippets' %}selected{% endif %}>Audio/Video Snippets</option>
                                                       </select>
                                                    </div>
                                                    <div class="col-md-12">
                                                       <label for="details" class="form-label">Details</label>
                                                       <textarea class="form-control" id="details" style="height: 200px" required>{{ detail.details }}</textarea>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="start_time" class="form-label">Start Time</label>
                                                        <input type="time" class="form-control" id="start_time" autocomplete="off" value="{{ detail.start_time|my_time_filter }}" placeholder="Start time" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="end_time" class="form-label">End Time</label>
                                                        <input type="time" class="form-control" id="end_time" autocomplete="off" value="{{ detail.end_time|my_time_filter }}" placeholder="End Time" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                       <label for="hours_spent" class="form-label">Hours Spent</label>
                                                       <input type="number" class="form-control" id="hours_spent" value="{{ detail.hours_spent }}" required>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label for="date" class="form-label">Date</label>
                                                        <input type="text" id="date" class="form-control vanila-datepicker" autocomplete="off" name="date" value="{{ detail.date|date:"%d %M %Y" }}" placeholder="Date" required>
                                                    </div>
                                                </form>

                                            {% elif category == 'Evangelism' %}
                                                <form class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-12">
                                                       <label for="evangelism_field_of_visit" class="form-label">Field of Visit</label>
                                                       <input type="text" class="form-control" id="evangelism_field_of_visit" value="{{ detail.field_of_visit }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="evangelism_hours_spent" class="form-label">Hours Spent</label>
                                                        <input type="number" class="form-control" id="evangelism_hours_spent" value="{{ detail.hours_spent_per_week }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_no_led_to_christ" class="form-label">No led to Christ</label>
                                                       <input type="number" class="form-control" id="evangelism_no_led_to_christ" value="{{ detail.no_led_to_christ }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_follow_up" class="form-label">No of Follow up</label>
                                                       <input type="number" class="form-control" id="evangelism_follow_up" value="{{ detail.follow_up }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_no_of_invites" class="form-label">No of Invites</label>
                                                       <input type="number" class="form-control" id="evangelism_no_of_invites" value="{{ detail.invitees }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_no_baptism" class="form-label">No of Baptism</label>
                                                       <input type="number" class="form-control" id="evangelism_no_baptism" value="{{ detail.holy_spirit_baptism }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_people_prayed" class="form-label">People Prayed for</label>
                                                       <input type="number" class="form-control" id="evangelism_people_prayed" value="{{ detail.no_of_people_prayed }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_prints_shared" class="form-label">Prints Shared</label>
                                                       <input type="number" class="form-control" id="evangelism_prints_shared" value="{{ detail.prints_shared }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                       <label for="evangelism_snippets" class="form-label">Snippets Shared</label>
                                                       <input type="number" class="form-control" id="evangelism_snippets" value="{{ detail.snippets }}" required>
                                                    </div>

                                                    <div class="col-md-12">
                                                       <label for="evangelism_message_shared" class="form-label">Messages Shared</label>
                                                       <textarea class="form-control" id="evangelism_message_shared" style="height: 200px;" required>{{ detail.messages }}</textarea>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="evangelism_first_date" class="form-label">First Date of Week</label>
                                                        <input type="text" id="evangelism_first_date" class="form-control vanila-datepicker" autocomplete="off" placeholder="Date" value="{{ detail.first_date_of_week|date:"%d %M %Y" }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="evangelism_last_date" class="form-label">Last Date of Week</label>
                                                        <input type="text" id="evangelism_last_date" class="form-control vanila-datepicker" autocomplete="off" placeholder="Date" value="{{ detail.last_date_of_week|date:"%d %M %Y" }}" required>
                                                    </div>
                                                    {% csrf_token %}
                                                </form>

                                            {% elif category == 'Prophetic Vision' %}
                                                <form class="row g-3 needs-validation" novalidate>
                                                    <div class="col-md-12">
                                                       <label for="prophetic_vision_description" class="form-label">Description</label>
                                                       <input type="text" class="form-control" id="prophetic_vision_description" value="{{ detail.description }}" required>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="prophetic_vision_date" class="form-label">Date</label>
                                                        <input type="text" id="prophetic_vision_date" class="form-control vanila-datepicker" autocomplete="off" placeholder="Date" value="{{ detail.date|date:"%d %M %Y" }}" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="prophetic_vision_body" class="form-label">Body</label>
                                                        <textarea class="form-control" id="prophetic_vision_body" style="height: 200px;" required>{{ detail.body }}</textarea>
                                                    </div>
                                                    {% csrf_token %}
                                                </form>
                                            {% endif %}
                                      </div>
                                   </div>

                                </div>
                                <div class="modal-footer">
                                    <p class="text-success" id="update_successful" style="display: none">Success</p>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" id="save_update_button" class="btn btn-primary">Save changes</button>
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'assets/js/edit_form.js' %}"></script>
    <script>
        const category = '{{ category }}'
        {% if category == 'Bible Reading' %}
            update_form('{% url 'bible_reading:update-detail' detail.id detail.bible_passage %}', category);
        {% elif category == 'Prayer Marathon' %}
            update_form('{% url 'prayer_marathon:update-detail' detail.id %}', category);
        {% elif category == 'Church Work' %}
            update_form('{% url 'church_work:update-detail' detail.id %}', category);
        {% elif category == 'Evangelism' %}
            update_form('{% url 'evangelism:update-detail' detail.id %}', category);
        {% elif category == 'Prophetic Vision' %}
            update_form('{% url 'prophetic_vision:update-detail' detail.id %}', category);
        {% endif %}
    </script>
{% endblock javascript %}